= wrap_layout :meta do
  .site
    %header.site__header{role: "banner"}
      .l--columns.l--columns--vertically-centered.l--columns--small
        .l--columns__column.l--columns__column--small
          = link_to "/" do
            = image_tag("cfd-logo.svg", class: "logo", alt: t(:site_name))
        %nav.l--columns__column.l--columns__column--small

    %main.site__main{role: "main"}
      = yield

    %footer.site__footer{role: "contentinfo"}
      .l--columns.l--columns--spaced
        .l--columns__column
          .u--text-center
            %small
              \&copy; #{Time.now.year}
              %a{href: "http://gridshiftdesign.com"} Grid Shift LLC,
              the studio of product designer
              %a{href: "http://ezekielbinion.com"} Zeke&nbsp;Binion
