= wrap_layout :meta do
  .site
    %header.site__header{role: "banner"}
      .site__header-logo
        = link_to "/" do
          = image_tag("cfd-logo.svg", class: "logo", alt: t(:site_name))
      %nav.site__header-nav{role: "navigation"}
        %ul.nav
          %li.nav__item= link_to "Blog", "/pages/about"
          %li.nav__item= link_to "About", "/pages/about"
          %li.nav__item= link_to "Get Free Updates", "http://eepurl.com/diHwL9", class: "text--small button button--secondary"

    %main.site__main{role: "main"}
      = yield

    %footer.site__footer{role: "contentinfo"}
      .l--columns.l--columns--spaced
        .l--columns__column
          .u--text-center
            %small
              \&copy; #{Time.now.year}
              %a{href: "http://gridshiftdesign.com"} Grid Shift LLC,
              the studio of product designer
              %a{href: "http://ezekielbinion.com"} Zeke&nbsp;Binion
