= wrap_layout :layout do
  %article.article
    .l--constrain
      %header.article__header
        .u--text-center
          - if current_page.data.category
            .h6= current_page.data.category

          %h1= current_page.title
          %hr
          - if current_page.data.summary
            %p.h3= current_page.data.summary

    .article__content
      - if current_page.data.lead_embed
        .l--video= current_page.data.lead_embed
      .l--constrain= yield

    - if current_page.data.author_id
      %footer.article__footer
        .l--constrain
          .bio
            .bio__media= image_tag(t("authors.#{current_page.data.author_id}.img"), class: "bio__image", alt: t("authors.#{current_page.data.author_id}.name"))
            .bio__description
              %div
                by
                %a.bio__name{href: t("authors.#{current_page.data.author_id}.url"), rel: "author"}= t("authors.#{current_page.data.author_id}.name")
              %div= t("authors.#{current_page.data.author_id}.bio")
              %div.h6
                %time{datetime: current_page.date.strftime('%Y-%m-%d'), title: current_page.date.strftime('Published %B %d, %Y')}= current_page.date.strftime('%b %-d, %Y')
  %aside.promobar
    .promobar__social
      = link_to facebook_share_url, class: "button button--share is--facebook" do
        %span.u--accessibly-hidden Share on Facebook
        %svg.button__icon
          %use{href: image_path('icons.svg#social-facebook-solo')}
      = link_to twitter_share_url, class: "button button--share is--twitter" do
        %span.u--accessibly-hidden Share on Twitter
        %svg.button__icon
          %use{href: image_path('icons.svg#social-twitter')}
      = link_to linkedin_share_url, class: "button button--share is--linkedin" do
        %span.u--accessibly-hidden Share on LinkedIn
        %svg.button__icon
          %use{href: image_path('icons.svg#social-linkedin')}
    .promobar__subscribe
      %h5.promobar__subscribe-text Get the latest in your inbox.
      = link_to "Subscribe", "http://eepurl.com/diHwL9", class: "button button--small"

  %aside.l--section
    .l--constrain-layout
      %h3.h6.u--text-center Recent posts

      .l--matrix
        - recommend_articles(current_page)[0...3].each_with_index do |article, index|
          = partial "partials/teaser", locals: {article: article}
