.l--matrix__item
  %article.teaser
    = link_to article.url, class: "teaser__media" do
      = image_tag(article.data.thumbnail)
    .teaser__content
      .h6= article.data.category
      %h1.h3= link_to article.title, article.url
      %p= article.data.summary
