.l--matrix__item
  %article.teaser
    = link_to article.url, class: "teaser__media" do
      = image_tag article.data.thumbnail, class: "teaser__image"
      - if article.data.has_video
        %svg.teaser__icon
          %use{href: image_path('icons.svg#media-play-circle-md'), "xlink:href" => image_path('icons.svg#media-play-circle-md')}
    .teaser__content
      .h6
        = article.data.category
        = "&bull; Ep #{current_page.data.episode_number}" unless current_page.data.episode_number.nil?
      %h1.h3= link_to article.title, article.url
      %p= article.data.summary
