<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <title><%= t(:rss_name) %></title>
  <link><%= data.site.url %>/blog</link>
  <description><%= t(:rss_description) %></description>
  <image>
      <url><%= data.site.url %>/favicon-196.png</url>
      <link><%= data.site.url %>/blog</link>
      <title><%= t(:site_name) %> logo tile</title>
  </image>
  <% live_articles.each do |article| %>
  <item>
      <title><%= article.title %></title>
      <link><%= data.site.url %><%= article.url %></link>
      <description><%= article.data.summary %></description>
      <category><%= article.data.category %></category>
  </item>
  <% end %>
</channel>
</rss>
