= wrap_layout :layout do
  .l--constrain
    %article.article
      %header.article__header
        .u--text-center
          - if current_page.data.category
            .h6= current_page.data.category

          %h1= current_page.title
          %hr
          - if current_page.data.summary
            %p.h3= current_page.data.summary

      .article__content= yield

      %footer.article__footer
        - if current_page.data.author_id
          .bio
            .bio__media= image_tag(t("authors.#{current_page.data.author_id}.img"), class: "bio__image", alt: t("authors.#{current_page.data.author_id}.name"))
            .bio__description
              %div
                by
                %a.bio__name{href: t("authors.#{current_page.data.author_id}.url"), rel: "author"}= t("authors.#{current_page.data.author_id}.name")
              %div= t("authors.#{current_page.data.author_id}.bio")
              %div.h6
                %time{datetime: current_page.date.strftime('%Y-%m-%d'), title: current_page.date.strftime('Published %B %d, %Y')}= current_page.date.strftime('%b %-d, %Y')

  %aside.l--section
    .l--constrain-layout
      %h3.h6.u--text-center Recent posts

      .l--matrix
        - blog.articles[0...3].each do |article|
          = partial "partials/teaser", locals: {article: article}
